* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgb(37, 119, 206);
    padding: 0 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 30000;
}

.headercontents {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 로고와 메뉴 왼쪽 정렬 */
    gap: 60px; /* 로고-메뉴 간격 */
    width: 100%;
    background-color: rgb(37, 119, 206);
}

.logo img {
    width: 50px;
    height: auto;
}

.nav {
    display: flex;
    gap: 60px; /* 메뉴 간격 */
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.bg {
    position: fixed;
    inset: 0;
    background-image: url("pw.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: none;
    z-index: -2;
}

form {
    text-align: center;
    margin-top: 20px;
}

.password {
    width: 300px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-left: 0%;
    margin-top: 30%;
}

.submit-btn {
    display: block;
    /* margin: 20px auto; */

    width: 80px;
    height: 40px;
    background: none;
    color: #000;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 48%;
}

.nav {
    display: flex;
    gap: 50px;
}

.container {
    width: 100%;
}

.logo img {
    width: 50px;
}

/*------------------------------- con1 ----------------------*/

.con1 {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 75px;
    background: none;
}

.character_box {
    width: 285px;
    height: 285px;
    border: solid 1px #a0a0a0;
    border-radius: 20px;
    overflow: hidden;
}

.character_top {
    width: 100%;
    height: 203px;
    overflow: hidden;
    position: relative;
}

.character_top:hover {
    cursor: pointer;
}

.character_top img {
    width: 100%;
    height: 203px;
    position: absolute;
    transition: 0.3s;
}

.first_img {
    z-index: 2;
    opacity: 100%;
}

.last_img {
    z-index: 1;
    opacity: 0%;
}

.character_top:hover .first_img {
    z-index: 1;
    opacity: 0%;
}

.character_top:hover .last_img {
    z-index: 2;
    opacity: 100%;
}

.character_bottom {
    text-align: center;
    padding: 15px 10px;
    background-color: #a0a0a0;
}

.character_bottom .title {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
}

.character_bottom .text {
    font-size: 0.75rem;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.flex_box_01 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.opening {
    margin-left: 430px;
    margin-top: 295px;
    width: 1000px;
    height: 400px;
}

.music {
    margin-top: 360px;
    margin-left: 1050px;
}
